<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Update user</h1>
            <div class="container-fluid">
                <div class="text-center ">
                    <form class="form border">
                        <h1 class="text-dark">Registration form</h1>
                        <dl>
                            <dt for="id">Id</dt>
                            <dd><input type="text" name="id" value=""  id="id"></dd>
                            <dt for="Fname">Name:</dt>
                            <dd><input type="text" name="name" value="" id="name"></dd><br>
                            <dt for="lname">Last Name:</dt>
                            <dd><input type="text" id="lname" name="lname" value=""></dd><br>
                            <dt for="email">Email:</dt>
                            <dd><input type="email" name="email" value="" id="email"></dd><br>
                            <dt for="pass">Password:</dt>
                            <dd><input type="password" name="pass" value="" id="pass" ></dd><br>
                            <dt for="no">Phone Number:</dt>
                            <dd><input type="number" maxlength="10" value="" min="10" name="no" id="no"></dd><br>
                            <dt for="gender">Gender:</dt>
                            <dd>
                                <input type="radio" name="gender" value="Male" id="gender" checked >Male
                                <input type="radio" name="gender" value="Female" id="gender">Female<br>
                            </dd>
                            <dt for="age">Age:</dt>
                            <dd><input type="number" name="age" id="age"></dd><br>
                            <button class="btn btn-primary" id="btnupdate">Submit</button>
                        </dl>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
